<h1><%= @billboard.name %></h1>
<%= link_to 'Create Artist', new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.title, [@billboard, @artist] %>
    </li>
  <% end %>
</ul>
