<h1>All Billboard</>
<%= link_to 'Create billboard', new_billboard_path %>

<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.title, biillboard %> 
    </li>
  <% end %>
</ul> 



<!-- non echoing -->
<% 4-2 %>

<!-- echoing -->
<%=  %>

# <%# %> comment erb tag