<h1><%= @billboard.title %></h1>
<hr />
<p>What do you want to do?</p>
<%= link_to 'Edit billboard', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete billboard', @billboard, method: :delete  %>
<br />
<%= link_to 'View Artists', billboard_artists_path(@billboard)  %>